:root {
  --bee-default: #172b4d;
  --bee-primary: #4166FB;
  --bee-primary-tint-color: #dce3ff;
  --bee-success: #2dce89;
  --bee-success-tint-color: #effff8;
  --bee-info: #b4b4b4;
  --bee-info-tint-color: #fff;
  --bee-warning: #fb6340;
  --bee-warning-tint-color: #ffece8;
  --bee-danger: #f5365c;
  --bee-danger-tint-color: #fff5f7;

  --bee-border-color: #E7E7E7;
  --bee-animation-duration: 350ms;

  --bee-default-border-radius: 8px;
  --bee-small-border-radius: 4px;
  --bee-default-space: 8px;
}
