@import "../animation/index.scss";

$bee-button-default-height: 44px;
$bee-button-default-font-size: 14px;
$bee-button-active-bg-alpha: 0.8;

$bee-button-color-scheme: (
  primary: var(--bee-primary),
  danger: var(--bee-danger),
  success: var(--bee-success),
  warning: var(--bee-warning),
  info: var(--bee-info),
);

$bee-button-size-scheam: (
  mini: 37px,
  small: 40px,
  large: 48px,
);

.bee-button {
  @include flex();
  height: $bee-button-default-height;
  width: 100%;
  border: 1px solid var(--bee-border-color);
  background-color: #fff;
  cursor: pointer;
  color: var(--bee-primary);
  border-radius: var(--bee-default-border-radius);
  font-size: $bee-button-default-font-size;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: box-shadow var(--bee-animation-duration);
  box-sizing: border-box;

  &:hover:not(:disabled) {
    box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
  }

  &:active:not(:disabled) {
    background: rgba(#fff, $bee-button-active-bg-alpha);
  }

  @each $key, $color in $bee-button-color-scheme {
    &__#{$key} {
      background-color: $color;
      border: none;
      color: #fff;

      &:active:not(:disabled) {
        opacity: $bee-button-active-bg-alpha;
        background-color: $color;
      }
    }
  }

  @each $key, $size in $bee-button-size-scheam {
    &__#{$key} {
      height: $size;
    }
  }

  &__text {
    background-color: transparent;
    border: none;

    &:active {
      background-color: transparent !important;
    }

    &:hover {
      box-shadow: none !important;
    }
  }

  &__plain {
    @each $key, $color in $bee-button-color-scheme {
      &.bee-button__#{$key} {
        color: $color;
        background-color: transparent;
        border: 1px solid $color;

        &:hover {
          background-color: $color;
          color: #fff;
          border: none;
        }
      }
    }
  }

  &__round {
    border-radius: 100px;
  }

  &__disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &__inline {
    display: inline-flex;
    width: auto;
    padding: $bee-button-default-height/6 $bee-button-default-height/3;
    height: auto;
    border-radius: var(--bee-small-border-radius);

    & + & {
      margin-left: var(--bee-default-space);
    }

    @each $key, $size in $bee-button-size-scheam {
      &.bee-button__#{$key} {
        padding: calc($size / 6) calc($size / 3);
      }
    }
  }

  &__loading {
    .bee-loading {
      animation: rotateInfinite 2s infinite linear;
    }
  }
}
